    body {
        font-family: 'Nunito', sans-serif;
    }


        .statut-badge {
            padding: 0.25rem 0.75rem;
            border-radius: 9999px;
            font-size: 0.875rem;
        }
        .statut-en_attente { background-color: #fef3c7; color: #d97706; }
        .statut-acceptée { background-color: #d1fae5; color: #059669; }
        .statut-archivee { background-color: #f3f4f6; color: #6b7280; }
        [x-cloak] { display: none !important; }
